<div class="wrapper">
  <div class="banner text-center">
    <h1>NEED TO RELAX?</h1>
    <h2>Find out why 99% of our customers never come back...</h2>
    <div id="hp-form">
      <%= render 'apartments/search_form' %>
    </div>
  </div>
</div>



