$btn-warning-bg: #FF5A5F;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "home";
@import "myaccount";

body{
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Montserrat';
}

.content {
  margin-top: 50px;
  min-height: 800px;
}

.form {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

#map {

}