form {
  text-align: center;
}

form .field {
  display: inline;
  border: 1px dotted grey;
}

.wrapper {
  background-image: url("HP.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: white ;
  height: 800px;
  padding-top: 200px;
}

.wrapper {

  #hp-form {
    background: rgba(0,0,0,0.4);
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 30px 10px;
    border-radius: 5px;
  }
  h1{
    color: white;
    font-family: "Montserrat", sans-serif;
  }
  h2 {
    font-weight: 300;
    margin-bottom: 50px;
  }
}
