<h1>Available appartments</h1>

<%= render 'search_form' %>

<% if @apartments %>
  <ul>
    <% @apartments.each do |a| %>
      <li>
        <%= link_to image_tag(a.picture.url(:medium)), apartment_path(a) %>
        <%= "address : #{a.address}, price: #{a.price}"%>
      </li>
    <% end %>
  </ul>
<% end %>
